@page
@model OmerBagrutSite.Pages.HomeModel
@{
    ViewData["Title"] = "Welcome!";
}
 
<link rel="stylesheet" href="~/css/HomeStyle.css" />

<section class="title">
    <h1>NutriLab</h1>
    <p>Where Science Meets Performance</p>
</section>

<main class="content-wrapper">
   
    <div class="card intro-card">
        <h2>About Us:</h2>
        <p>
            At NutriLab, we believe that optimal performance starts with smart nutrition. Whether you're an elite athlete, a weekend warrior, or just starting your fitness journey,
            our mission is to fuel your goals with evidence-based guidance, expert-designed meal plans, and real-world strategies that get results.
            Explore tailored resources for strength, endurance, recovery, and everything in between—because in our lab, your body is the experiment, and success is the outcome.
            Bellow you can go to 3 articles by us that will help you stay informed and healthy.
        </p>
    </div>

    <div class="card">
        <a href="/InfoPage1">
        <img src="/images/pic_artical1.jpeg" alt="Pre Workout" />
        </a>

        <h2>Fueling Before the Workout: What to Eat and When</h2>
        
        <p>What you eat before training can make or break your workout. Proper pre-workout nutrition helps boost energy, focus,
            and endurance, while the wrong food—or none at all—can leave you feeling sluggish or lightheaded.</p>
    </div>

    <div class="card">
        <a href="/InfoPage2">
        <img src="/images/pic_artical2.jpeg" alt="Protien" />
        </a>

        <h2>Protein 101: How Much Do You Really Need?</h2>
        <p>Protein is essential for muscle repair, growth, and recovery. But how much do you actually need, especially if you're training hard?</p>

    </div>

    <div class="card">
        <a href="/InfoPage3">
        <img src="/images/pic_artical3.jpeg" alt="Nutrition Mistakes" />
        </a>

        <h2>Top 5 Nutrition Mistakes That Hurt Your Performance</h2>
        <p>You train hard—but are your eating habits holding you back? Avoid these common nutrition slip-ups that can sabotage your energy, endurance, and gains.</p>

    </div>

</main>

<footer class="footer">
    <p>&copy; 2025 NutriLab | Stay informed. Stay healthy.</p>
</footer>

